{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}


{% block title %}仓库管理{% endblock %}

{% block subnav %}{% endblock %} 

{% block scripts %}
<script type="text/javascript" src="{{url_for('static',filename='js/common.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<h3 class="page-header"><a href="{{url_for('main.index')}}">返回首页</a></h3>
		<div class="row">
			<div class="col-xs-1">
				<a class="btn btn-info btn-sm" href="{{url_for('.add')}}">添加</a>
			</div>
		</div>
		<div class="table-responsive">
			<table  class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>仓库名称</th>
						<th>模板</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% if depots %}
						{% for depot in depots %}
					<tr>
						<td>{{ loop.index + ((pagination.page-1) * config.DEPOT_PER_PAGE) }}</td>
						<td>{{ depot.name }}</td>
						<td>{{ depot.templates.name}}</td>
						<td>
							<form class="form-inline" method="post" action="{{url_for('.delete',id=depot.id,next=request.full_path)}}">
								<input type="hidden" name="csrf_token" value="{{csrf_token}}">
								{% if depot.name in  "竞品仓 固定资产仓 低值易损耗仓" %} 
								<button type="submit" class="btn btn-danger btn-sm" id="delitem"  disabled="true" onclick="return confirm('确定要删除吗?')">删除</button>
								{% else %}
								<button type="submit" class="btn btn-danger btn-sm" id="delitem"  onclick="return confirm('确定要删除吗?')">删除</button>
								{% endif %}
							</form>
						</td>
					</tr>
					{% endfor %}
					{% else %} 
					<tr>
						<td colspan="10" class="text-center">暂无数据</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="page-footer">
			{% if pagination.pages > 1 %}	{{render_pagination(pagination)}} {% endif %}
		</div>
	</div>
{% endblock %}

			