{% extends 'base.html' %}

{% block metas %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block title %}用户管理{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
	
{% endblock %}

{% block subnav %}
{% endblock %}

{% block content %}
    <div class="container">
       <h4 class="page-header"><a href="{{url_for('.index')}}">返回首页</a> »<span>添加竞品</span></h4>
        <form class="form-horizontal" method="post">
            {{ form.csrf_token }}
			<div class="form-group">
                {{ form.assetnumber.label(class="col-sm-2 control-label") }}
				 <div class="col-sm-4">
                {% if form.assetnumber.errors %}
                    {{ form.assetnumber(class='form-control is-invalid') }}
                    {% for error in form.assetnumber.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.assetnumber(class='form-control') }}
                {% endif %}
				</div>
            </div>
            <div class="form-group">
                {{ form.product_name.label(class="col-sm-2 control-label") }}
				<div class="col-sm-4">
                {% if form.product_name.errors %}
                    {{ form.product_name(class='form-control is-invalid') }}
                    {% for error in form.product_name.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.product_name(class='form-control') }}
                {% endif %}
				</div>
            </div>
            <div class="form-group">
                {{ form.model_name.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.model_name.errors %}
                    {{ form.model_name(class='form-control is-invalid') }}
                    {% for error in form.model_name.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.model_name(class='form-control') }}
                {% endif %}
				</div>
            </div>
             <div class="form-group">
                {{ form.numbers.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.numbers.errors %}
                    {{ form.numbers(class='form-control is-invalid') }}
                    {% for error in form.numbers.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.numbers(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.position.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.position.errors %}
                    {{ form.position(class='form-control is-invalid') }}
                    {% for error in form.position.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.position(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.status.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.status.errors %}
                    {{ form.status(class='form-control is-invalid') }}
                    {% for error in form.status.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.status(class='form-control',onchange='testselect()') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group" style="display:none;">
                {{ form.username.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.username.errors %}
                    {{ form.username(class='form-control is-invalid') }}
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.username(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.usermail.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.usermail.errors %}
                    {{ form.usermail(class='form-control is-invalid') }}
                    {% for error in form.usermail.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.usermail(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.lend_time.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.lend_time.errors %}
                    {{ form.lend_time(class='form-control is-invalid') }}
                    {% for error in form.lend_time.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.lend_time(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.lend_numbers.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.lend_numbers.errors %}
                    {{ form.lend_numbers(class='form-control is-invalid') }}
                    {% for error in form.lend_numbers.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.lend_numbers(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.back_time.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.back_time.errors %}
                    {{ form.back_time(class='form-control is-invalid') }}
                    {% for error in form.back_time.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.back_time(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.remark.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.remark.errors %}
                    {{ form.remark(class='form-control is-invalid') }}
                    {% for error in form.remark.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.remark(class='form-control') }}
                {% endif %}
				</div>
            </div>
			<div class="form-group">
                {{ form.profit_loss.label(class='col-sm-2 control-label') }}
				<div class="col-sm-4">
                {% if form.profit_loss.errors %}
                    {{ form.profit_loss(class='form-control is-invalid') }}
                    {% for error in form.profit_loss.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.profit_loss(class='form-control') }}
                {% endif %}
				</div>
            </div>
			 <div class="form-group">
				<div class="col-sm-offset-3 col-sm-1">
					{{ form.submit(class='btn btn-primary') }}
				</div>
				<div class="col-sm-1">
					{{ form.cancel(class='btn btn-primary',type="reset") }}
				</div>
			</div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script language="javascript">
	//根据下拉框的值显示或隐藏元素
     function testselect(){
        //获取id=status的下拉框的值
        var values = document.getElementById("status").value;
		var target = document.getElementsByClassName("form-group");
		if(values == "1"){
			for(var i =6;target.length<=10,i++ ){
				target[i].style.display = "block";
			}
		}
	}
	//点击重置按钮,将输入框的值清空
	$(document).ready(function(){
		$('#cancel').click(function(){
			$(":input").value = "";
		}
		);
	}
	);
    
</script>
{% endblock %}
		